body p{
    font-family: 'Quicksand', sans-serif;
}

body h1, h2, h3, h4{
    font-family: 'Quicksand', sans-serif;
    color: rgba(112, 112, 112, 1);
}

.main-list{

}

.list-header-1{
    background-color: rgba(250, 162, 27, 1);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    padding: 10px;
    color: #fff;
    display: flex;
}

.list-header-2{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    padding: 10px;
    color: #fff;
    display: flex;
}

.list-header-3{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    padding: 10px;
    color: #fff;
    display: flex;
}

.list-header-4{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    padding: 10px;
    color: #fff;
    display: flex;
}

.list-card{
    border-radius: 17px;
    padding: 20px;
    color: #fff;
    display: flex;
}

